*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(237, 237, 237);
  box-sizing: border-box;
  overflow-x: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 32px auto 32px auto;
  align-items: center;
  position: relative;
}

.navbar {
  width: 80%;
  background-color: white;
  margin: auto;
  top: 64px;
  border-radius: 12px;
  position: fixed;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 24px;
}

.bg-img {
  top: 0;
  display: flex;
  width: 100%;
  height: 70%;
  background-color: #f12a2a;
  border-radius: 20px;
  position: relative;
  justify-content: center;
}

.other-companies {
  background-color: white;
  height: 120px;
  width: 90%;
  position: absolute;
  bottom: -60px;
  border-radius: 12px;
}
