*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(237, 237, 237);
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 32px auto 32px auto;
  align-items: center;
  position: relative;
}

.navbar {
  width: 80%;
  background-color: white;
  margin: auto;
  top: 64px;
  border-radius: 12px;
  position: fixed;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 24px;
  padding: 0 36px 0 36px;
  align-items: center;
}

.middle-nav {
  display: flex;
  gap: 32px;
}

.middle-nav a {
  text-decoration: none;
  color: black;
}

.end-nav button {
  color: white;
  background-color: #f12a2a;
  border: none;
  padding: 12px 24px;
  border-radius: 100px;
}

.bg-img {
  top: 0;
  display: flex;
  width: 100%;
  height: 70%;
  background-color: #f12a2a;
  border-radius: 20px;
  position: relative;
  justify-content: center;
}

.other-companies {
  background-color: white;
  height: 120px;
  width: 90%;
  position: absolute;
  bottom: -60px;
  border-radius: 12px;
}

/* Our App */

.our-app {
  width: 100vh;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-inline: auto;
}

.our-app-content {
  display: flex;
  flex-direction: column;
}

.our-app-pills {
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  padding: 6px 12px;
  border-radius: 100px;
}

.our-app-title {
}

.our-app-title h2 {
  font-size: 48px;
  font-weight: 400;
}
