* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 16px;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #eaeaea;
  height: 1000000px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.container {
  display: flex;
  background-color: #3498db;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 4rem;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.container:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.container-1 {
  background-color: #e74c3c;
}

.container-2 {
  background-color: #27ae60;
}

.container-3 {
  background-color: #f39c12;
}

.container-4 {
  background-color: #9b59b6;
}

/* Navbar */

nav {
  margin: 2rem;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 100px;
  border: 1px solid black;
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
}
